.advance-condition-box {
	position: relative;
	margin-top: 1px;
	margin-bottom: 9px;

	.icon-question-mark {
		color: #ff0000;
	}

	.btn-base-model{
		position: absolute;
		right: 0;
		top: 3px;
	}
}
