<div ng-class="$ctrl.styles.container">
	<div ng-class="$ctrl.styles.conditionBox">
		<div ng-class="$ctrl.styles.head">
			<cc-dropdown-select model="$ctrl.conditionData.isMeet" datalist="[{title:'满足',value:true},{title:'不满足',value:false}]"></cc-dropdown-select>
			<span ng-class="$ctrl.styles.middle">以下条件</span>
		</div>

		<div ng-class="$ctrl.styles.groups">
			<div ng-repeat="conditions in $ctrl.conditionData.groups track by $index">
				<div ng-class="$ctrl.styles.or" ng-if="$index>0">OR</div>
				<bs-condition-group config="$ctrl.config" conditions="conditions" remove-group="$ctrl.removeGroup"></bs-condition-group>
			</div>
		</div>

		<button ng-class="$ctrl.styles.btnLink" ng-click="$ctrl.addGroup()">添加条件</button>
	</div>
</div>
