<div class="advance-condition-box">

	<div class="search-box">
		<bs-search-input
			ng-model="$ctrl.advanceConditionStr"
			search="$ctrl.opts.advanceSearch()"
			width="'100%'">
		</bs-search-input>
	</div>

	<div class="toobar-box">
		<button class="btn-text" ng-click="$ctrl.setCondition()">
			<i class="bs-iconfont icon-bangzhu" cc-tooltip="'这里显示什么文案呢'"></i>
			<span class="text">设置条件</span>
		</button>
		<button class="btn-base-model btn-text btn-link" ng-click="$ctrl.opts.conditionModel='BASE'">简单查找</button>
	</div>
</div>
