.advance-condition-box {
	position: relative;
	margin-top: 0;
	margin-bottom: 10px;

	.search-box{
		margin-right: 160px;
	}

	.toobar-box{
		position: absolute;
		right: 0;
		top: 4px;
	}

	.btn-text{
		.bs-iconfont,.text{
			vertical-align: middle;
		}
		.bs-iconfont{
			color: green;
			font-weight: 400;
		}
	}

	.btn-base-model{
		vertical-align: middle;
	}
}
