<div>
	<form name="numberRange"
		ng-class="$ctrl.styles.numberRange"
		cc-validators="$ctrl.validators">
		<input
			type="number"
			class="min-input"
			ng-class="$ctrl.styles.input"
			ng-model="$ctrl.minValue"
			ng-disabled="$ctrl.disabled"
			placeholder="{{$ctrl.minPlaceholder}}"
			cc-validator="min"
            ng-keydown="$ctrl.onInputKeydown($event)"
            ng-change="$ctrl.onValueChange($event,'minValue')"
		/>
		<span ng-class="$ctrl.styles.separate">-</span>
		<input
			type="number"
			class="max-input"
			ng-class="$ctrl.styles.input"
			ng-model="$ctrl.maxValue"
			ng-disabled="$ctrl.disabled"
			placeholder="{{$ctrl.maxPlaceholder}}"
            cc-validator="max"
            ng-keydown="$ctrl.onInputKeydown($event)"
            ng-change="$ctrl.onValueChange($event,'maxValue')"
        />
	</form>
</div>
