<div cc-dropdown
  is-open="$ctrl.open"
  on-dropdown-open="$ctrl.onDropdownOpen()"
  ng-class="$ctrl.styles.dateRange">

	<div cc-dropdown-toggle ng-class="$ctrl.styles.dateRangeInputWrap">
		<input ng-class="$ctrl.styles.input" ng-value="$ctrl.dateRangeText" ng-disabled="$ctrl.disabled" readonly placeholder="{{$ctrl.placeholder}}" />
		<span class="iconfont icon-arrow"></span>
	</div>

	<div cc-dropdown-panel ng-class="$ctrl.styles.dateRangeContentWrap" ng-switch="$ctrl.format">

		<div ng-switch-when="YMD">
			<span ng-class="$ctrl.styles.text">介于</span>
			<cc-date-picker ng-model="$ctrl.dateRange.start" min-date="$ctrl.minDate" max-date="$ctrl.dateRange.end" date-only="true"></cc-date-picker>
			<span ng-class="$ctrl.styles.text">至</span>
			<cc-date-picker ng-model="$ctrl.dateRange.end" min-date="$ctrl.dateRange.start" max-date="$ctrl.maxDate" date-only="true"></cc-date-picker>
		</div>

		<div ng-switch-when="YMDhms">
			<span ng-class="$ctrl.styles.text">介于</span>
			<cc-date-picker ng-model="$ctrl.dateRange.start" min-date="$ctrl.minDate" max-date="$ctrl.dateRange.end" date-only="false"></cc-date-picker>
			<span ng-class="$ctrl.styles.text">至</span>
			<cc-date-picker ng-model="$ctrl.dateRange.end" min-date="$ctrl.dateRange.start" max-date="$ctrl.maxDate" date-only="false"></cc-date-picker>
		</div>

		<div ng-switch-when="MD">
			<span ng-class="$ctrl.styles.text">介于</span>
			<bs-month-date month="$ctrl.dateRange.startMonth" date="$ctrl.dateRange.startDate"></bs-month-date>
			<span ng-class="$ctrl.styles.text">至</span>
			<bs-month-date month="$ctrl.dateRange.endMonth" date="$ctrl.dateRange.endDate"></bs-month-date>
		</div>

		<div ng-switch-when="hms">
			<span ng-class="$ctrl.styles.text">介于</span>
			<bs-time time="$ctrl.dateRange.start"></bs-time>
			<span ng-class="$ctrl.styles.text">至</span>
			<bs-time time="$ctrl.dateRange.end" placement="top-left"></bs-time>
		</div>

		<div ng-switch-when="Dhms">
			<span ng-class="$ctrl.styles.text">介于</span>
			<bs-d-time value="$ctrl.dateRange.start" placement="bottom-right"></bs-d-time>
			<span ng-class="$ctrl.styles.text">至</span>
			<bs-d-time value="$ctrl.dateRange.end" placement="top-right"></bs-d-time>
		</div>

		<div ng-class="$ctrl.styles.footer">
			<button class="btn-ok" ng-click="$ctrl.ok()">确定</button>
			<button class="btn-cancel" ng-click="$ctrl.cancel()">取消</button>
		</div>
	</div>
</div>
