<div ng-class="$ctrl.styles.baseConditionBox">

	<div class="bs-clearfix" ng-class="$ctrl.styles.conditionZone">
		<bs-condition-item ng-repeat="condition in $ctrl.config.conditions" condition="condition"></bs-condition-item>
		<bs-condition-item ng-repeat="condition in $ctrl.config.extendConditions" condition="condition" extend="true" ng-if="condition.selected"></bs-condition-item>
	</div>

	<div ng-class="$ctrl.styles.toolbar">

		<button ng-class="$ctrl.styles.btnLinkText" ng-click="$ctrl.config.searchModel='ADVANCE'">高级搜索</button>

		<cc-dropdown ng-show="$ctrl.config.extendConditions.length>0" ng-class="$ctrl.styles.extendConditionSetter" class="dropdown-closed">
			<button cc-dropdown-toggle>
				<span>更多</span>
				<span class="iconfont icon-arrow"></span>
			</button>
			<div cc-dropdown-panel ng-class="$ctrl.styles.extendsBox">
				<div ng-class="$ctrl.styles.extendConditionText">更多条件</div>
				<div ng-class="$ctrl.styles.extendConditionItem" ng-repeat="condition in $ctrl.config.extendConditions track by $index">
					<cc-checkbox ng-model="condition.selected">
						<div ng-class="$ctrl.styles.conditionName" class="bs-ellipsis" title="{{condition.name||condition.code}}" ng-bind="condition.name||condition.code"></div>
					</cc-checkbox>
				</div>
			</div>
		</cc-dropdown>

		<button class="btn btn-ok" ng-class="$ctrl.styles.btnSearch" ng-click="$ctrl.searchData()">搜索</button>
		<button ng-class="{[$ctrl.styles.btnText]:true,[$ctrl.styles.btnResert]:true}" ng-click="$ctrl.reset()">重置</button>
		<button ng-class="{[$ctrl.styles.btnText]:true,[$ctrl.styles.btnResert]:true}" ng-click="$ctrl.switchConditionBox()">{{$ctrl.isOpen?'收起':'展开'}}</button>
	</div>
</div>
