.month-date {
    display: flex;
    flex-direction: row;
    cc-dropdown-select {
        display: block;
        flex: 1;
        &:first-child {
            margin-right: 4px;
        }
    }
    input {
        width: 100% !important;
    }
}
