<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>明细选择器</title>

	<script src="/bundle.js"></script>

	<!-- [angular-resource] & [angular-ui-router] 为 [ccms-components] 的依赖 -->
	<script src="/node_modules/angular-resource/angular-resource.js"></script>
	<script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>

	<script src="./index.js"></script>
	<style>
		main {
			padding: 30px;
		}
	</style>
</head>

<body>
	<main ng-app="app" ng-controller="ctrl">

		<button ng-click="open1()">选择商品</button>

		<button ng-click="open2()">选择商品（自定义标题）</button>

		<button ng-click="open3()">选择商品（不可配置）</button>

		<button ng-click="open4()">选择商品（单选）</button>
	</main>
</body>

</html>
