.container {
    position: relative;
    * {
        box-sizing: border-box;
    }
    .keywords {
        overflow: hidden;
        text-overflow: ellipsis;
        background: #fff;
        border: 1px solid #d9d9d9;
        height: 30px;
    }
    .dropdown-panel {
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        top: 29px;
        background: #fff;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    }
}
