.setting-wrap {
    position: absolute;
    top: -32px;
    right: 50px;
    color: #666;
    cursor: pointer;
    &:hover {
        color: #444;
    }
    :global(.bs-iconfont) {
        font-size: 18px;
    }
}

.selector {
    height: 100%;
    position: relative;
    .container {
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        appearance: none;
    }
    input[type=number] {
        appearance: textfield;
    }
    :global(.calendar-days > li) {
        box-sizing: content-box;
    }
}

.footer {
    position: absolute;
    color: #666;
    left: 0;
    bottom: -35px;
}
