<div ng-class="$ctrl.styles.selector">
    <div ng-class="$ctrl.styles.container">
        <bs-query-view
            ng-if="$ctrl.model==='QUERY'"
            opts="$ctrl.opts"
            config="$ctrl.config"
            fetch="$ctrl.fetch">
        </bs-query-view>

        <bs-result-view
            ng-if="$ctrl.model==='CHECK'"
            opts="$ctrl.opts"
            config="$ctrl.config"
            fetch="$ctrl.fetch">
        </bs-result-view>
    </div>
    <footer ng-class="$ctrl.styles.footer"
        ng-if="$ctrl.config.type==='multiple'"
    >
        <cc-checkbox ng-model="$ctrl.model" ng-true-value="'CHECK'" ng-false-value="'QUERY'">
            <span>查看已选（{{$ctrl.opts.GlobalConditionObj.statistic}}）</span>
        </cc-checkbox>
    </footer>
</div>

<div ng-class="$ctrl.styles.settingWrap" ng-if="$ctrl.config.preferenceAble" ng-click="$ctrl.openSelectorSetter()" cc-tooltip="'点击设置组件'" tooltip-placement="bottom-center">
    <span class="bs-iconfont icon-peizhi"></span>
</div>
