.setting-wrap {
	position: absolute;
	top: -32px;
	right: 50px;
	color: #666;
	cursor: pointer;
	&:hover {
		color: #444;
	}
	:global(.bs-iconfont) {
		font-size: 18px;
	}
}

.selector {
	height: 100%;
	display: block;
	.loading-wrap {
		position: absolute;
		z-index: 999;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: transparent;
		cc-loading {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -25px;
			margin-left: -20px;
		}
	}
	.btn-text {
		border: none;
		min-width: unset;
		background-color: transparent;
		padding: 0;
		margin: 0 0.5em;
		&:hover {
			background-color: transparent;
		}
	}
	.btn-link {
		color: #0083ba;
		&:hover {
			color: #41b5e6;
		}
	}
	.result-footer {
		margin-right: 250px;
		color: #666;
		.selected-count {
			font-size: 16px;
			color: #0083ba;
		}
	}
	.btn-switch {
		margin: 12px;
		padding-top: 6px;
		padding-bottom: 6px;
		height: unset;
	}
}
