<div class="{{$ctrl.styles.container}}">

	<!-- 简单查找 -->
	<bs-base-condition-box
		opts="$ctrl.opts"
		config="$ctrl.config"
		refresh-conditions="$ctrl.refreshConditions"
		ng-if="$ctrl.opts.conditionModel==='BASE'">
	</bs-base-condition-box>

	<!-- 高级查找 -->
	<bs-advance-condition-box
		opts="$ctrl.opts"
		ng-if="$ctrl.opts.conditionModel==='ADVANCE'">
	</bs-advance-condition-box>

	<div class="{{$ctrl.styles.resultHolder}}">
		<bs-selector-grid
			columns="$ctrl.config.columns"
			opts="$ctrl.opts"
			external-data="$ctrl.gridExternalData"
			lazyload="$ctrl.fetchResourceData"></bs-selector-grid>
	</div>
</div>
