.container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.condition-box {
	flex: 1;
	height: 100%;
	.tips {
		color: #999;
		font-size: 12px;
	}
	.head {
		color: #666;
		margin: 0 0 10px;
	}
	.content {
		border: 1px solid #d9d9d9;
		height: 400px;
		user-select: none;
	}
}

.oops-box {
	width: 50px;
	text-align: center;
	padding-top: 180px;
}

.btn-oop {
	min-width: unset;
	padding: 0 5px;
	margin: 5px 0;
}

.btn-remove {
	transform: rotate(180deg)
}

.condition-item {
	padding: 8px 50px 8px 10px;
	position: relative;
	color: #3a3a3a;
	:global(.bs-iconfont) {
		position: absolute;
		right: 5px;
		top: 5px;
		color: #666;
		cursor: move;
	}
}
