<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>搜索下拉框</title>

	<script src="/bundle.js"></script>

	<!-- [angular-resource] & [angular-ui-router] 为 [ccms-components] 的依赖 -->
	<script src="/node_modules/angular-resource/angular-resource.js"></script>
	<script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>

	<script src="./index.js"></script>
	<style>
		main {
			padding: 30px;
		}
		.item{
			margin: 20px;
		}
	</style>
</head>

<body>
	<main ng-app="app" ng-controller="ctrl">
		<div class="item">
			<bs-dropdown-search
				ng-model="dropdown1.value"
				datalist="dropdown1.datalist"
				search="dropdown1.search(keyword)"
				loading="dropdown1.loading"
				clearable="dropdown1.clearable"
				placeholder="'搜索店铺名称'">
			</bs-dropdown-search>
			<span ng-bind="dropdown1.value"></span>
		</div>

		<div class="item">
			<bs-dropdown-search
				ng-model="dropdown2.value"
				datalist="dropdown2.datalist"
				search="dropdown2.search(keyword)"
				ng-change="dropdown2.change()"
				on-dropdown-open="dropdown2.onDropdownOpen()"
				loading="dropdown2.loading"
				placeholder="'搜索店铺名称'"
				empty-msg="'暂无匹配数据'">
			</bs-dropdown-search>
			<span ng-bind="dropdown2.value"></span>
		</div>

		<div class="item">
			<bs-dropdown-search
				ng-model="dropdown3.value"
				ng-disabled="dropdown3.disabled"
				datalist="dropdown3.datalist"
				placeholder="'Disabled DropdownSearch'">
			</bs-dropdown-search>
			<span ng-bind="dropdown3.value"></span>
		</div>
	</main>
</body>

</html>
