<div ng-class="$ctrl.styles.container">
    <div ng-class="$ctrl.styles.and">AND</div>
    <div ng-class="$ctrl.styles.condition"
        name="form"
        cc-validators="$ctrl.validators"
    >
        <div ng-class="$ctrl.styles.field">
            <cc-dropdown-select
                model="$ctrl.condition.code"
                datalist="$ctrl.fields"
                mapping="{valueField:'code',displayField:'name'}"
                placeholder="请选择字段"
                on-select-change="$ctrl.onCodeChange($event)"
            ></cc-dropdown-select>
        </div>
        <div ng-class="$ctrl.styles.operator">
            <cc-dropdown-select
                model="$ctrl.condition.operator"
                datalist="$ctrl.operators"
                placeholder="运算符"
                on-select-change="$ctrl.onOperatorChange($event)"
            ></cc-dropdown-select>
        </div>
        <div ng-class="$ctrl.styles.value">
            <div ng-if="!$ctrl.condition.code" ng-class="$ctrl.styles.error">
                <input type="text" ng-class="$ctrl.styles.input" placeholder="请选择字段" readonly disabled style="background:#fff;cursor:not-allowed;" />
            </div>
            <div ng-if="$ctrl.condition.code" ng-switch="$ctrl.condition.dataType">
                <!-- text -->
                <div ng-switch-when="text" ng-class="[$ctrl.styles.vfield,$ctrl.styles.text]">
                    <input ng-if="$ctrl.condition.operator==='等于'||$ctrl.condition.operator==='不等于'"
                        type="text"
                        ng-class="$ctrl.styles.input"
                        ng-model="$ctrl.condition.value[0]"
                        placeholder="值"
                        cc-validator="textValue"
                        required
                    />
                    <bs-keyword-input ng-if="$ctrl.condition.operator!=='等于'&&$ctrl.condition.operator!=='不等于'"
                        ng-model="$ctrl.condition.value"
                        style="display: block;width: 440px;"
                    ></bs-keyword-input>
                </div>

                <!-- boolean -->
                <div ng-switch-when="boolean" ng-class="[$ctrl.styles.vfield,$ctrl.styles.boolean]">
                    <cc-dropdown-select
                        model="$ctrl.condition.value"
                        datalist="$ctrl.condition.options"
                        mapping="{valueField:'descVal',displayField:'destVal'}"
                        placeholder="值">
                    </cc-dropdown-select>
                </div>

                <!-- number -->
                <div ng-switch-when="number" ng-class="[$ctrl.styles.vfield,$ctrl.styles.number]">
                    <input type="number"
                        ng-class="$ctrl.styles.input"
                        ng-if="$ctrl.condition.operator!=='介于'"
                        ng-model="$ctrl.condition.value"
                        placeholder="值"
                        cc-validator
                        required
                        ng-keydown="$ctrl.onInputKeydown($event)"
                        ng-change="$ctrl.onValueChange($event)"
                    />
                    <bs-number-range
                        ng-if="$ctrl.condition.operator==='介于'"
                        min-placeholder="'值'"
                        max-placeholder="'值'"
                        min-value="$ctrl.condition.value.min"
                        max-value="$ctrl.condition.value.max"
                    ></bs-number-range>
                </div>

                <!-- enum -->
                <div ng-switch-when="enum" ng-class="[$ctrl.styles.vfield,$ctrl.styles.enum]">
                    <cc-dropdown-multiselect
                        native="false"
                        model="$ctrl.condition.value"
                        datalist="$ctrl.condition.options"
                        mapping="{valueField:'descVal',displayField:'destVal'}"
                        placeholder="值">
                    </cc-dropdown-multiselect>
                </div>

                <!-- dict -->
                <div ng-switch-when="dict" ng-class="[$ctrl.styles.vfield,$ctrl.styles.enum]">
                    <cc-dropdown-multiselect
                        native="false"
                        model="$ctrl.condition.value"
                        datalist="$ctrl.condition.options"
                        mapping="{valueField:'descVal',displayField:'destVal'}"
                        placeholder="值">
                    </cc-dropdown-multiselect>
                </div>

                <!-- date -->
                <div ng-switch-when="date" ng-class="[$ctrl.styles.vfield,$ctrl.styles.date]">

                    <div ng-if="$ctrl.condition.format==='YMD'" ng-class="$ctrl.styles.dateRange">
                        <cc-date-picker
                            ng-model="$ctrl.condition.value.start"
                            max-date="$ctrl.condition.value.end"
                            date-only="true">
                        </cc-date-picker>
                        <span ng-class="$ctrl.styles.text">至</span>
                        <cc-date-picker
                            ng-model="$ctrl.condition.value.end"
                            min-date="$ctrl.condition.value.start"
                            date-only="true">
                        </cc-date-picker>
                    </div>

                    <div ng-if="$ctrl.condition.format==='YMDhms'" ng-class="$ctrl.styles.dateRange">
                        <cc-date-picker
                            ng-model="$ctrl.condition.value.start"
                            max-date="$ctrl.condition.value.end">
                        </cc-date-picker>
                        <span ng-class="$ctrl.styles.text">至</span>
                        <cc-date-picker
                            ng-model="$ctrl.condition.value.end"
                            min-date="$ctrl.condition.value.start">
                        </cc-date-picker>
                    </div>

                    <div ng-if="$ctrl.condition.format==='MD'" ng-class="$ctrl.styles.dateRange">
                        <bs-month-date
                            month="$ctrl.condition.value.start.M"
                            date="$ctrl.condition.value.start.D">
                        </bs-month-date>
                        <span ng-class="$ctrl.styles.text">至</span>
                        <bs-month-date
                            month="$ctrl.condition.value.end.M"
                            date="$ctrl.condition.value.end.D">
                        </bs-month-date>
                    </div>

                    <div ng-if="$ctrl.condition.format==='Dhms'" ng-class="$ctrl.styles.dateRange">
                        <bs-d-time value="$ctrl.condition.value.start"></bs-d-time>
                        <span ng-class="$ctrl.styles.text">至</span>
                        <bs-d-time value="$ctrl.condition.value.end"></bs-d-time>
                    </div>

                    <div ng-if="$ctrl.condition.format==='hms'" ng-class="$ctrl.styles.dateRange">
                        <bs-time time="$ctrl.condition.value.start"></bs-time>
                        <span ng-class="$ctrl.styles.text">至</span>
                        <bs-time time="$ctrl.condition.value.end"></bs-time>
                    </div>
                </div>

                <!-- unknown -->
                <div ng-switch-default ng-class="$ctrl.styles.error">未知的字段类型{{$ctrl.condition.dataType}}</div>
            </form>
        </div>
    </div>
    <div ng-class="$ctrl.styles.controls">
        <button ng-class="$ctrl.styles.btnIcon" ng-click="$ctrl.remove($ctrl.condition)" title="删除该条件">
            <span class="iconfont icon-jian"></span>
        </button>
        <button ng-class="[$ctrl.styles.btnIcon,$ctrl.styles.btnAdd]" ng-click="$ctrl.add()" title="添加条件">
            <span class="iconfont icon-jia"></span>
        </button>
    </div>
</div>
