<div class="ccms-bs-search-input" ng-class="{[$ctrl.classes.ccmsBsSearchInput]:true,disabled:$ctrl.ngDisabled}" ng-style="{width:$ctrl.width}">
	<input ng-class="$ctrl.classes.keywordInput" type="text" ng-model="$ctrl.ngModel" ng-change="$ctrl.updateNgModel()" ng-keypress="$ctrl.enterToSearch($event)" ng-disabled="$ctrl.ngDisabled" placeholder="{{$ctrl.placeholder}}" />
	<button ng-class="$ctrl.classes.btnSearch" ng-disabled="$ctrl.ngDisabled" ng-click="$ctrl.search({value: $ctrl.ngModel})">
		<span class="iconfont icon-search"></span>
	</button>
</div>
