<div ng-class="$ctrl.styles.conditionItem">
	<div ng-class="$ctrl.styles.name">
		<span ng-class="$ctrl.styles.nameText" ng-bind="$ctrl.condition.name||$ctrl.condition.code" title="{{$ctrl.condition.name||$ctrl.condition.code}}"></span>
        <span
            ng-if="$ctrl.condition.tooltip"
            class="iconfont icon-bangzhu"
            cc-tooltip="$ctrl.condition.tooltip"
            tooltip-placement="bottom-center">
        </span>
	</div>
	<div ng-class="$ctrl.styles.content">
		<div ng-class="$ctrl.styles.conditionInput" ng-switch="$ctrl.condition.dataType">
			<!-- 布尔型 -->
			<cc-dropdown-select ng-switch-when="boolean" ng-class="$ctrl.styles.valueField" model="$ctrl.condition.value" datalist="$ctrl.condition.dynamicConfigs" mapping="{valueField:'descVal',displayField:'destVal'}"></cc-dropdown-select>
			<!-- 枚举型 -->
			<cc-dropdown-multiselect ng-switch-when="enum" ng-class="$ctrl.styles.valueField" model="$ctrl.condition.value" datalist="$ctrl.condition.dynamicConfigs" mapping="{valueField:'descVal',displayField:'destVal'}" native="false"></cc-dropdown-multiselect>
			<!-- 字典型 -->
			<cc-dropdown-multiselect ng-switch-when="dict" ng-class="$ctrl.styles.valueField" model="$ctrl.condition.value" datalist="$ctrl.condition.dynamicConfigs" mapping="{valueField:'descVal',displayField:'destVal'}" native="false"></cc-dropdown-multiselect>
			<!-- 数值型 -->
			<bs-number-range ng-switch-when="number" ng-class="$ctrl.styles.valueField" min-value="$ctrl.condition.value.min" max-value="$ctrl.condition.value.max"></bs-number-range>
			<!-- 日期型 -->
			<bs-date-range ng-switch-when="date" ng-class="$ctrl.styles.valueField" start="$ctrl.condition.value.start" end="$ctrl.condition.value.end" format="$ctrl.condition.styleType"></bs-date-range>
			<!-- default text -->
			<bs-keyword-input ng-switch-default ng-class="$ctrl.styles.valueField" ng-model="$ctrl.condition.value"></bs-keyword-input>
		</div>
		<button class="{{$ctrl.styles.btnRemove}}" ng-if="$ctrl.extend" ng-click="$ctrl.condition.selected=false">
			<span class="iconfont icon-tiaojianyichu"></span>
		</button>
	</div>
</div>
