<div ng-class="$ctrl.styles.conditionItem">
	<div class="{{$ctrl.styles.name}}">
		<span ng-class="$ctrl.styles.nameText" ng-bind="$ctrl.condition.name" title="{{$ctrl.condition.name}}"></span>
		<span class="iconfont icon-bangzhu" cc-tooltip="$ctrl.condition.tooltip" tooltip-placement="top-center" ng-if="$ctrl.condition.tooltip"></span>
	</div>
	<div class="{{$ctrl.styles.content}}">
		<div ng-class="$ctrl.styles.conditionInput" ng-switch="$ctrl.condition.dataType">
			<!-- 布尔型 -->
			<cc-dropdown-select ng-switch-when="boolean" model="$ctrl.condition.value" datalist="$ctrl.condition.dynamicConfigs" mapping="{valueField:'descVal',displayField:'destVal'}"></cc-dropdown-select>
			<!-- 枚举型 -->
			<cc-dropdown-select ng-switch-when="enum" model="$ctrl.condition.value" datalist="$ctrl.condition.dynamicConfigs" mapping="{valueField:'descVal',displayField:'destVal'}"></cc-dropdown-select>
			<!-- default text -->
			<input ng-switch-default type="text" ng-model="$ctrl.condition.value" />
		</div>
		<button class="{{$ctrl.styles.btnRemove}}" ng-if="$ctrl.extend" ng-click="$ctrl.condition.selected=false">
			<span class="iconfont icon-dele"></span>
		</button>
	</div>
</div>
