<div ng-class="$ctrl.classes.time" class="bs-clearfix">
	<cc-dropdown>
		<div cc-dropdown-toggle>
			<div ng-class="$ctrl.classes.head">
				<input type="text" value="{{$ctrl.timeText}}" readonly placeholder="hh:mm:ss" />
				<span class="iconfont icon-shijian1"></span>
			</div>
		</div>
		<div cc-dropdown-panel>
			<div ng-class="$ctrl.classes.content">
				<div ng-class="$ctrl.classes.item">
					<cc-dropdown-select model="$ctrl.time.h" datalist="$ctrl.hours" placeholder="{{$ctrl.placeholders.h}}"></cc-dropdown-select>
				</div>
				<div ng-class="$ctrl.classes.item">
					<cc-dropdown-select model="$ctrl.time.m" datalist="$ctrl.minutes" placeholder="{{$ctrl.placeholders.m}}"></cc-dropdown-select>
				</div>
				<div ng-class="$ctrl.classes.item">
					<cc-dropdown-select model="$ctrl.time.s" datalist="$ctrl.seconds" placeholder="{{$ctrl.placeholders.s}}"></cc-dropdown-select>
				</div>
			</div>
		</div>
	</cc-dropdown>
</div>
