.ccms-modal[data-uid*=CCMS_BS_DETAIL_SELECTOR] .container.modal .modal-body {
	overflow: unset;
	padding-top: 0;
}

.clearfix {
	overflow: auto;
	zoom: 1;
}

.ccms-modal[data-uid*=CCMS_BS_DETAIL_SETTING] .container.modal {
	min-width: 500px;
}
